################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio cache (корневая папка .vs)
.vs/

/src/EventManagement.Event/obj
/src/EventManagement.Event/bin
/src/EventManagement.Logging/obj
/src/EventManagement.Logging/bin
/src/.vs
/tests/EventManagement.Tests/bin/Debug/net8.0
/tests/EventManagement.Tests/obj
